body {
  background-color: #282828;
  font-family: 'Gupter', serif;
  color: white;
}

p {
  color: white;
}

h1 {
  text-align: center;
}

.skills {
  display: inline-block;
  position: relative;
  margin: 1%;
  float: left;
  width: 20%;
  height: 400px;
}

.col-text {
  height: 30em;
}

.grid-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}

.col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-left {
  -webkit-box-ordinal-group: -1;
  -ms-flex-order: -1;
  order: -1;
}

.col-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Aligner-item {
  width: 60%;
}

.col-image {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .col {
    -webkit-box-ordinal-group: vertical;
        -ms-flex-order: vertical;
            order: vertical;
  }
  .col-left {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.textbox-1 {
  font-size: 1.25em;
  text-align: justify;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 0;
  max-width: 1280px;
  margin: auto;
  font-size: 14px;
}

.w50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.object-fit {
  overflow: hidden;
  position: relative;
}

.object-fit img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .object-fit img {
    position: static;
    height: 100%;
    width: 100%;
    -webkit-transform: none;
            transform: none;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
}

#pic {
  width: 120px;
  height: 120px;
  border: 1px solid black;
  margin-right: 20px;
  float: left;
}

.p1:hover {
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}

.about {
  font-size: 20px;
  padding: 5%;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 14px;
}

h2 {
  text-align: center;
}

body {
  padding-left: 5%;
  padding-right: 5%;
}

.desc {
  font-size: 14px;
}

div.row {
  border-bottom: 2px #50315a solid;
}
/*# sourceMappingURL=style.css.map */

nav {
  text-align: center;
}

img {
  transition: all ease 500ms;
}

img:hover {
    transform: scale(1.25);
}

.icons {
  width: 15px;
  height: 15px;
}