$primary: red;
$text: white;
$background: rgb(40, 40, 40);
$background2: rgb(80, 49, 90);
$about: rgb(52, 52, 52);


body {
    background-color: $background;
    // font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    // monospace;
    font-family: 'Gupter', serif;

    color: white;
}

p {
    color: $text;
}

 

h1 {
    text-align: center;
} 

// ABOUT

.about {

}

// SKILLS ######################################################################

.skills {
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: 20%;
    height: 400px;
    // background-color: lightgrey;
}

h2 {
    
}


.col-text {
  height:30em;
}
.grid-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-direction: row; 
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: space-around;
}
.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.col-left {
  -webkit-box-ordinal-group:-1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.col-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Aligner-item {
  width: 60%;
}
.col-image {
  background-size: cover;
  background-position:center center;
}

@media (max-width: 640px) {
  .grid-flex {
    height: 40em;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column; 
   }
  .col {
    order:vertical;
  }
  .col-left {
    -webkit-box-ordinal-group:0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.textbox-1 {
	font-size: 1.25em;
	text-align: justify;
}
.row {
	display: flex;
	justify-content:space-around;
	padding:25px 0 ;
	max-width:1280px;
    margin:auto;
    font-size: 14px;
	
}
.w50 {
	flex: 0 0 45%;

}
.object-fit{
	overflow:hidden;
	position:relative;
}
.object-fit img{
	position: absolute;
	top:50%;
	left:50%;
	height:auto;
	width:auto;
	min-width:100%;
	min-height:100%;
	transform:translate(-50%, -50%);
}
@supports (object-fit: cover) {
  .object-fit img  {
    position: static;
    height: 100%;
    width: 100%;
    transform: none;
    object-fit: scale-down;
  }
}

#pic{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  margin-right: 20px;
  float:left;
}

.p1:hover {
  background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
}

// .front {
//     background-image: url("https://cdn4.iconfinder.com/data/icons/office-equipment-cartoon/512/g6985-512.png");
// }

.about {
    // background-color: $about;
    font-size: 20px;
    padding: 5%;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
}



h2 {
    text-align: center;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

.desc {
    font-size: 14px;
}

div.row {
    border-bottom: 2px $background2 solid;
}


.os {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column-os {
  float: left;
  width: 10%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.os:after {
  content: "";
  display: table;
  clear: both;
}